@model LoginFormModel

@{
    ViewBag.Title = "Login"; 
}

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">@ViewBag.Title</h2>

        <form asp-controller="User" asp-action="Login" method="post">
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="small text-danger" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="small text-danger" />
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input type="password" asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="small text-danger" />
            </div>
            <br />

            <input type="submit" class="btn btn-primary mt-1" value="Login">
        </form>
    </div>
</div>